/*
  This is a reasonable starting point for the CSS in Mock.
  Positioning in CSS can sometimes be annoying to manage, so we've opted to 
  give you this starter CSS. Feel free to modify it as you wish, though.
*/

button {
  font-size: 20px;
  font-weight: 500;
  font-family: BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin-right: 5%;
  margin-top: 0%;
  border: 0ch;
  border-radius: 12px;
  display: flexbox;
  color: rgb(255, 255, 255);
  background-color: transparent;
  transform: translate(600px, 0px);
  text-overflow: clip;
}
button:hover {
  color: rgb(48, 114, 59); /* Change text color on hover */
}

.header h1 {
  /* This is the header */
  font-weight: 500;
  padding-top: 15px;
  padding-left: 15px;
  font-family: BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 25px;
  text-align: start;
  color: rgb(255, 255, 255);
  background-color: #392d22;
  position: fixed;
  margin-top: 0%;
  height: 50px;
  width: 100%;
  top: 0;
}
h2 {
  font-size: large;
  text-overflow: ellipsis;
  text-align: start;
  background-color: #261b11;
  position: static;
  margin-top: 20%;
}
h3 {
  /* our misison content */
  font-size: 60px;
  text-overflow: ellipsis;
  text-align: start;
  background-color: transparent;
  position: static;
  margin-top: 10%;
  padding-left: 100px;
}
h4 {
  /* our mission title */
  font-size: large;
  width: 400px;
  padding-top: 0%;
  padding-left: 100px;
  text-overflow: ellipsis;
  text-align: start;
  background-color: transparent;
  position: static;
  margin-top: 0%;
}
